<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>You've visited this page <%= count %> times</h3>
    <form action="/update/name" method="post">
      <input type="text" name="name" placeholder="Name">
    </form>
  </body>
</html>
