<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>You've visited this page - <%= count %> time(s)</h3>

    <form action="/add" method="post">
      <input type="text" name="name" placeholder="Add a name">
      <button type="submit">Add</button>
    </form>

    <% for(let i = 0; i<friends.length; i++){ %>
      <p><%= friends[i] %></p>
    <% } %>
  </body>
</html>
